/* Fonts */

@font-face {
    font-family: "SansPro_semibold";
    src: url("Assets/FONTS/SourceSansPro/SourceSansPro-Semibold.ttf");
}

@font-face {
    font-family: "SansPro_bold";
    src: url("Assets/FONTS/SourceSansPro/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "SansPro_regular";
    src: url("Assets/FONTS/SourceSansPro/SourceSansPro-Regular.ttf");
}

/* General classes */

.Titulo {
    font-family: "SansPro_semibold";
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.responsiveButton {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.3vw;
    font-family: "SansPro_semibold";
    background-color: #005376;
    border-color: transparent;
}

.responsiveButton:hover {
    background-color: #3982a1;
    border-color: transparent;
}

.titles {
    font-size: 3.5rem;
    padding-top: 7%;
    font-family: "SansPro_bold";
}

.subtitles {
    font-size: 2rem;
    color: #5a5a5a;
    font-family: "SansPro_bold";
}

.texts {
    font-family: "SansPro_regular";
    font-size: 1.2rem;
}

@media (max-width: 37.5em) {
    .titles {
        font-size: 2.5rem;
    }

    .subtitles {
        font-size: 2rem !important;
    }

    .texts {
        font-size: 1rem !important;
    }
}

hr {
    border: 0;
    border-radius: 25px;
    height: 5px;
    width: 10%;
    position: relative;
    margin: 5px auto;
    opacity: .50;
}

hr.center-ball {
    background-color: #005376;
}

/* Header */

#TituloHeader:hover {
    color: #4682A9;
    transition: color 0.2s;
}

#TituloHeader:not(:hover) {
    color: black;
    transition: color 0.2s;
}

#strokeRoundImage {
    border: 3px solid #4682A9;
    border-radius: 50%;
}

.nav-link {
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.nav-link:hover {
    color: #4682A9;
}

.navbar-brand {
    font-family: "SansPro_semibold";
}

.border-hide {
    border-top: none !important;
}

.dropdown-item {
    font-family: "SansPro_regular";
}

/* Section 1: Presentation */

#sec-presentation {
    max-width: 120rem;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23EDEDED' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

#sec-presentation_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#presentation_initialText {
    font-size: 4vw;
    font-family: "SansPro_semibold";
    margin: 0px;
}

#presentation_nameText {
    font-size: 6vw;
    font-family: "SansPro_bold";
}

#presentation_subnameText {
    font-size: 2vw;
}

/* Section 2: About me */

#sec-about {
    max-width: 120rem;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: block;
}

.about_spec_box {
    display: inline-block;
    padding: 0.9rem 1.3rem;
    margin-right: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 7.5%;
    font-weight: 600;
    color: white;
    background-color: #7FA9BA;
}

/* Section 3: Projects */

#sec-projects {
    min-height: 100vh;
    max-width: 120rem;
    background-color: #ffffff;
}

#proj_moustache {
    background-image: url("Assets/IMG/Moustache.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    transition: filter 0.3s;
}

.botonMoustache {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Section 4: Contact */

#sec-contact {
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

/* ---------------------------------------- Responsive ---------------------------------------- */

/* PC 960px SCREEN */
@media (max-width: 991.5px) {
    .border-hide {
        border-top: 0.5px solid gray !important;
    }

    .responsiveButton {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 1.7vw;
    }

    .titles {
        padding-top: 12%;
    }

    #about_col1 {
        margin: 1rem !important;
    }

    #about_col1 {
        margin: 1rem !important;
    }

}

/* TABLET */
@media (max-width: 768px) {
    #presentation_initialText {
        font-size: 5vw !important;
        font-family: "SansPro_semibold";
        margin: 0px;
    }

    #presentation_nameText {
        font-size: 9vw !important;
        font-family: "SansPro_bold";
    }

    #presentation_subnameText {
        font-size: 3vw !important;
    }

    .responsiveButton {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 2.5vw;
    }

    .titles {
        padding-top: 19%;
    }

    #about_btns {
        margin-bottom: 50px !important;
    }

    #about_col1 {
        margin: 0px !important;
    }

    #about_col1 {
        margin: 0px !important;
    }

}

/* PANTALLA: 650px */
@media (max-width: 650px) {

    #about_subtitle1 {
        font-size: 5vw;
    }

    #about_subtitle2 {
        font-size: 5vw;
    }

}

/* MOBILE */
@media (max-width: 410px) {

    #presentation_initialText {
        font-size: 7vw !important;
        font-family: "SansPro_semibold";
        margin: 0px;
    }

    #presentation_nameText {
        font-size: 11vw !important;
        font-family: "SansPro_bold";
    }

    #presentation_subnameText {
        font-size: 5vw !important;
    }

    .responsiveButton {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 4vw;
    }

    .titles {
        padding-top: 32.5%;
    }

}