/* Fonts */

@font-face {
    font-family: "SansPro_semibold";
    src: url("Assets/FONTS/SourceSansPro/SourceSansPro-Semibold.ttf");
}

@font-face {
    font-family: "SansPro_bold";
    src: url("Assets/FONTS/SourceSansPro/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "SansPro_regular";
    src: url("Assets/FONTS/SourceSansPro/SourceSansPro-Regular.ttf");
}

/* General classes */

.Titulo {
    font-family: "SansPro_semibold";
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.responsiveButton {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.3vw;
    font-family: "SansPro_semibold";
    background-color: #005376;
    border-color: transparent;
}

.responsiveButton:hover {
    background-color: #3982a1;
    border-color: transparent;
}


/* Header */

#TituloHeader:hover {
    color: #4682A9;
    transition: color 0.2s;
}

#TituloHeader:not(:hover) {
    color: black;
    transition: color 0.2s;
}

#strokeRoundImage {
    border: 3px solid #4682A9;
    border-radius: 50%;
}

.nav-link {
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.nav-link:hover {
    color: #4682A9;
}

.navbar-brand {
    font-family: "SansPro_semibold";
}

.border-hide {
    border-top: none !important;
}

.dropdown-item {
    font-family: "SansPro_regular";
}

/* Section 1: Presentation */

#sec-presentation {
    max-width: 120rem;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23EDEDED' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

#sec-presentation_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#presentation_initialText {
    font-size: 4vw;
    font-family: "SansPro_semibold";
    margin: 0px;
}

#presentation_nameText {
    font-size: 6vw;
    font-family: "SansPro_bold";
}

#presentation_subnameText {
    font-size: 2vw;
}

/* Section 2: About me */

#sec-about {
    max-width: 120rem;
    height: 100vh;
    background-color: #f8f8f8;
}

#about_title {
    font-size: 4vw;
    padding-top: 8%;
    font-family: "SansPro_bold";
}

/* Section 3: Projects */

#sec-projects {
    height: 100vh;
    background-color: #79c9ff;
}

/* Section 4: Resume */

#sec-resume {
    height: 100vh;
    background-color: #35aeff;
}

/* Section 5: Contact */

#sec-contact {
    height: 100vh;
    background-color: #059bff;
}

/* ---------------------------------------- Responsive ---------------------------------------- */

/* PC 960px SCREEN */
@media (max-width: 991.5px) {
    .border-hide {
        border-top: 0.5px solid gray !important;
    }

    .responsiveButton {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 1.7vw;
    }

    #about_title {
        padding-top: 12%;
        font-size: 4vw;
    }
}

/* TABLET */
@media (max-width: 735px) {
    #presentation_initialText {
        font-size: 5vw !important;
        font-family: "SansPro_semibold";
        margin: 0px;
    }

    #presentation_nameText {
        font-size: 9vw !important;
        font-family: "SansPro_bold";
    }

    #presentation_subnameText {
        font-size: 3vw !important;
    }

    .responsiveButton {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 2.5vw;
    }

    #about_title {
        padding-top: 19%;
        font-size: 6vw;
    }
}

/* MOBILE */
@media (max-width: 410px) {

    #presentation_initialText {
        font-size: 7vw !important;
        font-family: "SansPro_semibold";
        margin: 0px;
    }

    #presentation_nameText {
        font-size: 11vw !important;
        font-family: "SansPro_bold";
    }

    #presentation_subnameText {
        font-size: 5vw !important;
    }

    .responsiveButton {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 4vw;
    }

    #about_title {
        padding-top: 32.5%;
        font-size: 9vw;
    }
}